In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data

In [3]:
df = pd.read_csv("stackoverflow_survey_single_response.csv")
questions = pd.read_csv("stackoverflow_survey_questions.csv")
label_dict = pd.read_csv("qname_levels_single_response_crosswalk.csv")

## Explore

In [4]:
df.head()

,response_id,main_branch,age,remote_work,ed_level,years_code,years_code_pro,dev_type,org_size,purchase_influence,...,ai_select,ai_sent,ai_acc,ai_complex,ai_threat,survey_length,survey_ease,converted_comp_yearly,r_used,r_want_to_use
0,1,1,8,3.0,4.0,NaN,NaN,NaN,NaN,NaN,...,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,3,3.0,2.0,20.0,17.0,16.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,3,1,4,3.0,3.0,37.0,27.0,10.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,0.0,0.0
3,4,2,1,NaN,7.0,4.0,NaN,16.0,NaN,NaN,...,3.0,5.0,5.0,1.0,2.0,2.0,2.0,NaN,0.0,0.0
4,5,1,1,NaN,6.0,9.0,NaN,16.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,0.0,0.0

In [45]:
# map labels to questions
columns = ["age", "ai_sent", "ai_select", "ai_acc", "ai_complex", "ai_threat"] 

for column in columns:
    _filter = label_dict["qname"]==column
    map = dict(zip(label_dict[_filter]["level"],  label_dict[_filter]["label"]))
    df[column + "_l"] = df[column].map(map)

df.columns

Index(['response_id', 'main_branch', 'age', 'remote_work', 'ed_level',
       'years_code', 'years_code_pro', 'dev_type', 'org_size',
       'purchase_influence', 'buildvs_buy', 'country', 'currency',
       'comp_total', 'so_visit_freq', 'so_account', 'so_part_freq', 'so_comm',
       'ai_select', 'ai_sent', 'ai_acc', 'ai_complex', 'ai_threat',
       'survey_length', 'survey_ease', 'converted_comp_yearly', 'r_used',
       'r_want_to_use', 'ai_sent_l', 'ai_select_l', 'ai_acc_l', 'ai_complex_l',
       'ai_threat_l', 'age_l'],
      dtype='object')

In [50]:
df.groupby("age_l")["ai_select_l"].value_counts(normalize=True).unstack() *100

ai_select_l         No, and I don't plan to  No, but I plan to soon        Yes
age_l
18-24 years old                   20.848694                8.753628  70.397678
25-34 years old                   21.466606               12.964801  65.568592
35-44 years old                   25.913339               16.142736  57.943925
45-54 years old                   27.990670               19.393535  52.615795
55-64 years old                   36.981891               22.132797  40.885312
65 years or older                 47.311828               20.430108  32.258065
Prefer not to say                 41.877256               13.718412  44.404332
Under 18 years old                29.374472                9.932375  60.693153

In [51]:
df["age_l"].value_counts()

age_l
25-34 years old       23911
35-44 years old       14942
18-24 years old       14098
45-54 years old        6249
55-64 years old        2575
Under 18 years old     2568
65 years or older       772
Prefer not to say       322
Name: count, dtype: int64

In [49]:
df.groupby("age_l")["ai_threat_l"].value_counts(normalize=True).unstack() *100

ai_threat_l         I'm not sure         No        Yes
age_l
18-24 years old        23.526975  63.446205  13.026820
25-34 years old        18.976672  69.448567  11.574761
35-44 years old        19.180088  68.794534  12.025378
45-54 years old        17.645677  70.136278  12.218045
55-64 years old        13.788660  77.448454   8.762887
65 years or older      12.403101  78.552972   9.043928
Prefer not to say      27.516779  55.033557  17.449664
Under 18 years old     24.436090  61.090226  14.473684

In [6]:
label_dict

             qname  level                                              label
0      main_branch      1                     I am a developer by profession
1      main_branch      2                              I am learning to code
2      main_branch      3  I am not primarily a developer, but I write co...
3      main_branch      4                        I code primarily as a hobby
4      main_branch      5  I used to be a developer by profession, but no...
..             ...    ...                                                ...
117  survey_length      2                                           Too long
118  survey_length      3                                          Too short
119    survey_ease      1                                          Difficult
120    survey_ease      2                                               Easy
121    survey_ease      3                         Neither easy nor difficult

[122 rows x 3 columns]

In [5]:
questions

                 qname                                           question
0          main_branch  Which of the following options best describes ...
1                  age                                 What is your age?*
2          remote_work  Which best describes your current work situation?
3             ed_level  Which of the following best describes the high...
4           years_code  Including any education, how many years have y...
5       years_code_pro  NOT including education, how many years have y...
6             dev_type  Which of the following describes your current ...
7             org_size  Approximately how many people are employed by ...
8   purchase_influence  What level of influence do you, personally, ha...
9          buildvs_buy  When asked to provide a recommendation for sol...
10             country  Where do you live? <span style="font-weight: b...
11            currency  Which currency do you use day-to-day? If your ...
12          comp_total  What is your current total <b>annual</b> compe...
13       so_visit_freq  How frequently would you say you visit Stack O...
14          so_account              Do you have a Stack Overflow account?
15        so_part_freq  How frequently would you say you participate i...
16             so_comm  Do you consider yourself a member of the Stack...
17           ai_select  Do you currently use AI tools in your developm...
18             ai_sent  How favorable is your stance on using AI tools...
19              ai_acc  How much do you trust the accuracy of the outp...
20          ai_complex  How well do the AI tools you use in your devel...
21           ai_threat  Do you believe AI is a threat to your current ...
22       survey_length  How do you feel about the length of the survey...
23         survey_ease  How easy or difficult was this survey to compl...